<section class="text-gray-400 bg-gray-900 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Login</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Enter your credentials to log in.</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-full">
          <div class="relative">
            <label for="username" class="leading-7 text-sm text-gray-400">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="formData.username" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-pink-500 focus:bg-gray-900 focus:ring-2 focus:ring-pink-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="password" class="leading-7 text-sm text-gray-400">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="formData.password" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-pink-500 focus:bg-gray-900 focus:ring-2 focus:ring-pink-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        <div class="p-2 w-full">
          <button (click)="login()" class="flex mx-auto text-white bg-pink-500 border-0 py-2 px-8 focus:outline-none hover:bg-pink-600 rounded text-lg">Login</button>
        </div>
        <div *ngIf="loginAttempted" class="p-2 w-full">
          <p class="text-red-500">Invalid username or password</p>
        </div>
        <div *ngIf="!loginAttempted && formData.username && formData.password" class="p-2 w-full lg:w-1/2">
          <h2>Entered Credentials</h2>
          <p>Username: {{ formData.username }}</p>
          <p>Password: {{ formData.password }}</p>
        </div>
      </div>
    </div>
  </div>
  
</section>
