<section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">furniture</h1>
          <div class="h-1 w-20 bg-pink-500 rounded"></div>
        </div>
        
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Make Your Home
          Modern Design.</h1>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/image/c1.png" alt="content">
            <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">......</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">HALL INTERIOR</h2>
            <p class="leading-relaxed text-base">Every hall is unique, and so is our approach. We tailor our designs to suit your preferences, ensuring a personalized and curated interior that reflects your style.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/image/c2.png" alt="content">
            <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">......</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">SOFA</h2>
            <p class="leading-relaxed text-base">sofas are designed to complement any interior style, creating a timeless and sophisticated look.<br><br></p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/image/c3.png" alt="content">
            <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">......</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">MODERN SOFA</h2>
            <p class="leading-relaxed text-base">our modern sofa collection, where comfort meets contemporary design. Our curated selection of sofas seamlessly blends sleek lines.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../assets/image/about.png" alt="content">
            <h3 class="tracking-widest text-pink-400 text-xs font-medium title-font">......</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">INTERIOR</h2>
            <p class="leading-relaxed text-base">Our approach involves understanding your lifestyle, and needs,. ensuring a personalized touch in every room.<br><br></p>
          </div>
        </div>
      </div>
    </div>
  </section>